@use "cssreset.css";

//header bg, page bg color

$pageBg : #FFF7ED;
$headerBg : #FFF7ED;
$orangeContainerBg: #FFCC8D;


$headerText: #4D4D4D;
$headerSelectedText: #161616;

$footerText : #aaa;
$footerBg : #252525;

$buttonOrange: #FF8C38;
$buttonBlack: #161616;

$textOnBodyBg: #161616;

$stateDefaultText: #4D4D4D;
$stateDefaultBg: #FFEAD0;

$stateSimpleText: #FFEAD0;
$stateSimpleBg: #E17654;

$stateLuxuryText: #FFEAD0;
$stateLuxuryBg: #161616;

$stateRuggedText: #FFEAD0;
$stateRuggedBg: #115E59;

body {
    margin: 0;
    // display: flex;
    // place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: $pageBg;

    // background-image: linear-gradient(to bottom, white 40%, $pageBg 100%);
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// nav-bar
nav {
    display: flex;
    width: 100%;
    min-height: 110px;
    // background-color: $headerBg;
    align-items: center;
    padding: 20px 26px;
    gap: 26px;

    .logo {
        margin-right: auto;

        // border: 1px solid #d00;
        img {
            width: 150px;
        }
    }

    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: $headerText;
        border-bottom: 2px solid transparent;        
    }

    a:hover,
    .isActive {
        color: $headerSelectedText;
        border-bottom: 2px solid $headerSelectedText;        
    }
}

footer {
    display: flex;
    background-color: $footerBg;
    color: $footerText;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    font-weight: 500;
    margin-top: auto;
}

.home {
    // border-top: 1px solid transparent;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%),
        url("/src/assets/image54.png");
    min-height: 500px;
}

.about {
    p {
        font-size: 16px;
    }

    .about-img {
        background-image: url("/src/assets/image55.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 230px;
        width: 100%;
    }
}


.main-container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 20px;
    gap: 30px;
}

.orange-section {
    background-color: $orangeContainerBg;
    padding: 20px;
    border-radius: 6px;
    border-top: 1px solid transparent;
}

button {
    background-color: $buttonOrange;
    border-radius: 6px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: 600;

    &.black {
        background-color: $buttonBlack;
    }

    &:hover {
        cursor: pointer;
    }
}

.vans-list {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
}

.van-details-content {
    .van-price {
        display: flex;
    }
}

a {
    text-decoration: none;
    color: $textOnBodyBg;

    .van-content {
        width: 230px;

        img {
            width: 230px;
            height: 230px;
        }

        .van-title-price {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .van-price {
                line-height: 16px;
                text-align: right;

                span {
                    font-size: 12px;
                }
            }
        }
    }
}

.van-type {
    border-radius: 6px;
    padding: 5px 20px;
    display: inline-block;
    margin-right: auto;

    &.default {
        background-color: $stateDefaultBg;
        color: $stateDefaultText;
    }

    &.simple {
        background-color: $stateSimpleBg;
        color: $stateSimpleText;
    }

    &.luxury {
        background-color: $stateLuxuryBg;
        color: $stateLuxuryText;
    }

    &.rugged {
        background-color: $stateRuggedBg;
        color: $stateRuggedText;
    }
}

.host-vans {
    .host-van {
        display: flex;
        background-color: white;
        padding: 22px;
        align-items: center;
        gap: 22px;
        margin-top: 22px;

        img {
            width: 80px;
            height: 80px;
        }

        &:last-child {
            margin-bottom: 25px;
        }

        &:hover {
            box-shadow: 0 1px 3px 0px #0002;
        }
    }
}
.host-van-details{
    background-color: white;
    padding: 26px;

    .top-details{        
        display: flex;                
        gap: 20px;

        img{
            width: 160px;
            height: 160px;
        }        

        div {                        
            display: flex;
            flex-direction: column;            
            justify-content: space-around;            
        }
    }

    nav{
        padding: 26px 0;
        min-height: auto;
    }

    section > h4 {
        margin: 10px 0;
    }
    section > h4 > span {
        font-weight: normal;
    }

}