@use "cssreset.css";

//header bg, page bg color

$pageBg : #FFF7ED;
$headerBg : #FFF7ED;
$orangeContainerBg: #FFCC8D;


$headerText: #4D4D4D;
$headerSelectedText: #161616;

$footerText : #aaa;
$footerBg : #252525;

$buttonOrange: #FF8C38;
$buttonBlack: #161616;

$textOnBodyBg: #161616;

$stateDefaultText: #4D4D4D;
$stateDefaultBg: #FFEAD0;

$stateSimpleText: #FFEAD0;
$stateSimpleBg: #E17654;

$stateLuxuryText: #FFEAD0;
$stateLuxuryBg: #161616;

$stateRuggedText: #FFEAD0;
$stateRuggedBg: #115E59;

body {
    margin: 0;
    // display: flex;
    // place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: $pageBg;

    // background-image: linear-gradient(to bottom, white 40%, $pageBg 100%);
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-icon {
    width: 18px;
}

// nav-bar
nav {
    display: flex;
    width: 100%;
    min-height: 110px;
    // background-color: $headerBg;
    align-items: center;
    padding: 20px 26px;
    gap: 26px;

    .logo {
        margin-right: auto;

        // border: 1px solid #d00;
        img {
            width: 150px;
        }
    }

    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: $headerText;
        border-bottom: 2px solid transparent;
    }

    a:hover,
    .isActive {
        color: $headerSelectedText;
        border-bottom: 2px solid $headerSelectedText;
    }
}

footer {
    display: flex;
    background-color: $footerBg;
    color: $footerText;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    font-weight: 500;
    margin-top: auto;
}


// login-page
.login {
    .main-container {
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;

        input {
            border: 1px solid #D1D5DB;
            border-radius: 6px;
            padding: 9px 13px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        }

        input[type=email] {
            border-radius: 6px 6px 0px 0px;
        }

        input[type=password] {
            border-radius: 0px 0px 6px 6px;
        }

        button {
            margin-top: 20px;
        }
    }
}

.home {
    // border-top: 1px solid transparent;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%),
        url("/image54.png");
    min-height: 500px;
}

.about {
    p {
        font-size: 16px;
    }

    .about-img {
        background-image: url("/image55.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 230px;
        width: 100%;
    }
}


.main-container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 20px;
    gap: 30px;
}

.orange-section {
    background-color: $orangeContainerBg;
    padding: 20px;
    border-radius: 6px;
    border-top: 1px solid transparent;
}

button {
    background-color: $buttonOrange;
    border-radius: 6px;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: 600;

    &.black {
        background-color: $buttonBlack;
    }

    &:hover {
        cursor: pointer;
    }

    &[disabled]{
        background-color: gray;
        color: darkgray;
        cursor: default;
    }
}

.vans {
    .filter-container {
        display: flex;

        justify-content: flex-start;
        align-items: center;

        a {
            margin-right: 10px;
        }

        a.clear:hover {
            text-decoration: underline;
        }

        button {
            margin-right: 10px;

            &.clear {
                background: none;
                padding: 10px;
                color: $textOnBodyBg;
            }
        }

        button.clear:hover {
            text-decoration: underline;
        }
    }
}


.vans-list {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    position: relative;
}

.van-details-content {
    .van-price {
        display: flex;
    }
}

a {
    text-decoration: none;
    color: $textOnBodyBg;

    .van-content {
        width: 230px;

        img {
            width: 230px;
            height: 230px;
        }

        .van-title-price {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .van-price {
                line-height: 16px;
                text-align: right;

                span {
                    font-size: 12px;
                }
            }
        }
    }
}

.van-type {
    border-radius: 6px;
    padding: 5px 20px;
    display: inline-block;
    margin-right: auto;

    &.default {
        background-color: $stateDefaultBg;
        color: $stateDefaultText;
    }

    &.simple {
        background-color: $stateSimpleBg;
        color: $stateSimpleText;
    }

    &.luxury {
        background-color: $stateLuxuryBg;
        color: $stateLuxuryText;
    }

    &.rugged {
        background-color: $stateRuggedBg;
        color: $stateRuggedText;
    }
}

.host-vans {
    .host-van {
        display: flex;
        background-color: white;
        padding: 22px;
        align-items: center;
        gap: 22px;
        margin-top: 22px;

        img {
            width: 80px;
            height: 80px;
        }

        &:last-child {
            margin-bottom: 25px;
        }

        &:hover {
            box-shadow: 0 1px 3px 0px #0002;
        }
    }
}

.host-van-details {
    background-color: white;
    padding: 26px;

    .top-details {
        display: flex;
        gap: 20px;

        img {
            width: 160px;
            height: 160px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    nav {
        padding: 26px 0;
        min-height: auto;
    }

    section>h4 {
        margin: 10px 0;
    }

    section>h4>span {
        font-weight: normal;
    }

}


.preloader-container {
    position: absolute;
    // background-image: linear-gradient(#7775 40%, #fff);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}